/*Map*/
html, body {
  height: 100%;
  margin: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* CampsiteHouseMarker */
.fa-campground-home:before {
  font-size: 10px;
  content: "\f015 \f6bb";
}

/* Info Control */
.leaflet-control-info{
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: none;
  background: #fff;
  background-clip: padding-box;
}

.leaflet-control-info-toggle{
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;	
  display: block;
  font-size: 1.5rem;
  
}
.leaflet-control-info-toggle i{
  color: #000;
}

.leaflet-control-info-text {
  display: none;
  width: 250px;
  padding: 10px 14px;
  line-height: 120%;
}

.leaflet-control-info-expanded .leaflet-control-info-toggle {
  display: none;
}

.leaflet-control-info-expanded .leaflet-control-info-text {
  display: block;
  position: relative;
}

/* Logo Control */ 
.logo.leaflet-control {
  height: 44px;
}

.logo > a > img {
  max-height: 100%;
  content:url("Bildmarke_Kothe.drawio.svg");
  /*#59585b  https://codepen.io/sosuke/pen/Pjoqqp*/
  filter: invert(34%) sepia(2%) saturate(518%) hue-rotate(219deg) brightness(98%) contrast(92%);
}

@media (max-width: 500px) {
  .logo > a > img {
    max-height: 100%;
    content:url("Logo_Kothe.drawio.svg");
  }
}

/* Scale Control */ 
.leaflet-control-scale {
	margin-left: 11px !important;
}

